.SingleObject {
    display: inline-block;
    width: 400px;
    height: 400px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    border: #243238 1px solid;
    border-radius: 4px;
    transition: .4s;
}

.SingleObject:hover{
    cursor: pointer;
    transform: scale(1.01);
    transition: .5s;
}

.tittle {

}

.subTittle {
    text-align: right;
    padding-right: 5%;
}

.picture {
    width: 350px;
    height: 250px;
    border-radius: 4px;
    box-sizing: border-box;
}

.note {
    text-align: left;
    padding-left: 2%;
}
