.GalleryObjects{
    position: relative;
    height: auto;
    text-align: center;
    background-color: lightgray;
    padding: 10px;
}

.Pagination>li.rc-pagination-item-active{
    background-color: #243238 !important;
    border: #243238 !important;
}
